@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*{box-sizing:border-box;}
.shelf>h4{
  color:#fff;
  line-height:normal;
  margin-top:40px;
  font-size:20px;
  font-family:Georgia,Times,serif;
  font-weight:normal;
  text-shadow:1px 1px 1px #000;
}
.shelf{
  border-radius:15px;
  padding:35px;
  margin:40px 30px;
  border:1px solid #000;
  background-color:#333;
  box-shadow:1px 1px 20px 3px rgba(0,0,0,0.8) inset;
  line-height:0;
  text-align:center;
  height: 100vh;
}
.shelf:after{content:'';display:block;clear:both;}

.shelf>li{
  margin-top: 15%;
  scale: 150%;
  display:inline-block;
  position:relative;
  line-height:0;
  text-align:left;
}
.shelf>li:before{
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:2px;
  width:2px;
  height:100%;
  background:transparent;
  box-shadow:0 0 1px rgba(0,0,0,0.7) inset;
  z-index:21;
  transition:all 0.5s;
}
.shelf>li.open:before{box-shadow:0 0 0 transparent inset;}

.shelf>li>img{
  width:200px;
  z-index:20;
  position:relative;
  border-radius:2px 3px 3px 2px;
  transform-origin:0 70%;
  transition:all 0.5s;
  backface-visibility:hidden;
  perspective:10;
  cursor:pointer;
  box-shadow:1px 1px 4px rgba(0,0,0,0.5);
  opacity:1;
}
.shelf>li:hover>img{
  transform:perspective(1500px) rotateY(-22deg);
  box-shadow:3px 1px 7px rgba(0,0,0,0.5);
}
.shelf>li.open>img{
  transform:perspective(1500px) rotateY(-150deg);
  box-shadow:3px 1px 7px rgba(0,0,0,0.5);
}
.shelf>li>.backface{
  backface-visbility:visible;
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  z-index:999;
  background-color:#e8e8e8;
  transform:perspective(1500px) rotateY(-180deg);
  transform-origin:100% 70%;
  border-width:3px;
  border-right-width:0;
  border-style:solid;
  border-color:rgb(179,64,0);
  backface-visibility:hidden;
  transition:all 0.5s;
  z-index:19;
  cursor:pointer;
  border-radius:3px 0 0 3px;
  box-shadow:-10px 0 10px rgba(0,0,0,0.2),
  40px 0 60px rgba(0,0,0,0.15) inset,
  0 0 0 1px rgba(255,255,255,0.15);
}
.shelf>li:hover>.backface{
  transform:perspective(1500px) rotateY(-202deg);
}
.shelf>li.open>.backface{
  transform:perspective(1500px) rotateY(-330deg);
  margin-left:1px;
}
.shelf>li>.pagecontainer{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  padding:1px;
  z-index:10;
}
.pages{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  margin-left:1px
}
.pages:after{
  content:'';
  z-index:0;
  width:0;
  height:0;
  border-width:5px;
  border-style:solid;
  border-color:rgb(179,64,0) rgb(179,64,0) transparent transparent;
  display:block;
  position:absolute;
  bottom:-9px;
  left:-2px;
}
.pages>li{
  border:1px solid #ccc;
  width:100%;
  height:100%;
  background-color:#fff;
  border-radius:2px 3px 3px 2px;
  position:absolute;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
}
.shelf>li .pages>.top{
  line-height:normal;
  padding:15px 20px;
  font-family:Georgia,Times,serif;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2),
  7px 0 10px -5px rgba(0,0,0,0.15) inset,
  0 0 60px rgba(0,0,0,0.1) inset;
}
h1{
  margin-top:20px;
  text-align:center;
  font-size:22px;
}
.author{
  display:block;
  text-align:center;
  font-size:12px;
  margin-bottom:20px;
}
h3{
  text-decoration:underline;
  font-size:14px;
  margin-bottom:10px;
}
.contents{font-size:11px;margin-bottom:30px;}
.contents>li{
  margin-bottom:8px;
}
.contents a{
  color:#000;
  text-decoration:none;
  border-bottom:1px dotted #000;
  display:block;
}
.contents a:hover{border-bottom-style:solid;}
.contents a abbr{float:right;font-size:10px;}

.button{
  display:block;
  text-align:center;
  padding:8px 15px;
  border:1px solid rgba(255,255,255,0.4);
  background-color:#282828;
  color:#fff;
  text-decoration:none;
  font-family:Arial,sans-serif;
  font-size:12px;
  font-weight:normal;
  border-radius:8px;
  box-shadow: 0 0 0 1px #333,
  0 -10px 20px rgba(0,0,0,0.5) inset;
  text-shadow:1px 1px 0 #000;
  transition:all 0.35s;
}
.button:hover{background-color:#181818;}

.bottomcover{
  width:100%;
  height:100%;
  position:absolute;
  top:8px;
  left:9px;
  z-index:0;
  background-color:rgb(179,64,0);
  border-radius:2px 3px 3px 2px;
  box-shadow:1px 1px 5px rgba(0,0,0,0.5);
}
/* Scale book animation */
@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}